.intro {
    display: flex;
    height: 77vh;
    margin-top: 10rem;
    padding: 0.5rem 3.5rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}


.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) 
{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
    height: 100px;
    margin-bottom: 10px;
}

.i-name>:nth-child(3) {
    color: var(--gray);
    margin-top: 10px;
}


.i-button {
    width: 6rem;
    height: 2rem;
}

.i-icons {
    margin-top: 1rem;
    display: flex;
    gap: 0rem;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>*:hover {
    cursor: pointer;
}
/* Right side of home page image side */
.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2) {
    transform: scale(0.67);
    left: -3rem ; 
    top: -4.6rem;
}

.i-right>:nth-child(3) {
    transform: scale(1.1);
    left: 10%;
    bottom: 18%;
}



.i-right>:nth-child(4) {
    transform: scale(0.3);
    top: -12rem;
    left: -10rem;
    padding: 0;
}

.title1 {
    top: -2%;
    left: 70%;
}
.title2 {
    top: 18rem;
    left: 0rem;
}

.blur1 {
    background: rgb(238, 210, 255) ;
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

.blur2 {
background: #c1f5ff;
width: 21rem;
height: 11rem;
top: 17rem;
left: -9rem;
border-radius: 50%;
z-index: -9;
filter: blur(72px);
position: absolute;
}

@media screen and (max-width: 480px) {
    .intro {
        flex-direction: column;
        height: 45rem;
        gap: 7rem;
        padding: 0;
    }
    .i-right {
        display: none;
    }
    .i-right .blur {
        display: none;
    }
    .floatingdiv {
        top: -7rem !important;
    }
    .i-name > span:nth-of-type(2) {
        margin-bottom: 25px;
    }
}